.say {
  width: 80%;
  margin: 80px auto 0 auto;
  display: flex;
}

.first-col {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  background-color: lightskyblue;
  padding: 10px;
}

.first-col__text {
  width: 100%;
  text-align: center;
  font-family: Arial;
  color: #fff;
  border-bottom: 3px solid white;
  padding-bottom: 15px;
}

.first-col__language {
  padding: 20px;
  text-align: center;
  color: #007faa;
  background-color: #fff;
}

.second-col {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  background-color: lightskyblue;
  padding: 10px;
}

.second-col__text {
  width: 100%;
  text-align: center;
  font-family: Arial;
  color: #fff;
  border-bottom: 3px solid white;
  padding-bottom: 15px;
}

.second-col__phrase {
  color: #007faa;
}

.second-col__phrase {
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.footer {
  width: 100%;
  background-color: #004774;
  margin: 70px 0 0 0;
  display: flex;
  justify-content: center;
  padding: 20px;
  min-height: 400px;
  font-family: "Open Sans", sans-serif;
}

.footer__wrapper {
  width: 90%;
  min-height: 400px;
  display: flex;
}

.footer__first-column {
  width: -webkit-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #fff;
  padding: 0 30px 0 30px;
  height: 100%;
}

.footer__title {
  margin: 10px 0 45px 0;
  font-size: 25px;
  color: #fff;
  width: 100%;
}

.footer__author {
  font-size: 14px;
  margin: 0 0 15px 0;
  color: #fff;
  width: 100%;
}

.footer__second-column {
  width: -webkit-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #fff;
  padding: 0 30px 0 30px;
}

.footer__link {
  color: #fff;
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: large;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__third-column {
  width: -webkit-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #fff;
  padding: 0 30px 0 30px;
}

.message {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  z-index: 300000000;
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message__wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: lightblue;
  opacity: 0.7;
  z-index: 0;
  animation: puls 3s infinite;
  transition: transform 0.5;
}

.message__wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message__icon {
  width: 50px;
  height: 50px;
  z-index: 30;
  display: flex;
  position: absolute;
}

.cloud {
  width: 70%;
  margin: 50px auto 50px auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.cloud img {
  min-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 560px;
  display: block;
  overflow: hidden;
}

.cloud img:hover {
  transform: scale(1.3);
  transition: 3s;
}

.owl-carousel {
  margin: 50px auto 50px auto;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.owl-carousel .aria-label {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.slide {
  min-width: 45%;
  margin: 0 auto;
  object-fit: contain;
  height: auto;
}

.owl-stage {
  display: flex;
  justify-content: center;
}

.owl-nav {
  display: flex;
  justify-content: center;
}

@keyframes puls {
  from {
    transform: scale(1);
    opacity: 0;
  }
  to {
    transform: scale(5);
    opacity: 0.7;
  }
}