@import url(../css/second.css);


h2{
	font-family: 'Bebas Neue', cursive;
}


* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	background-repeat: no-repeat;
	font-family: Arial;
}

.no-scroll {
	overflow: hidden;
}


button {
	border: none;
	outline: none;
	cursor: pointer;
}

input {
	outline: none;
	display: block;
}

.disabled {
	opacity: .5;
	cursor: progress;
}

.text_black {
	color: wheat;
}

.marker {
	/* Курсивный, жирный текст */
	font-weight: bolder;
	font-family: Arial;
	padding-left: 5px;
}

.page {
	overflow: hidden;
	max-width: 100%;
	margin: 0 auto 0 auto;
}


.description {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	position: relative;
	background-image: url("../images/FullScrean.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.description__wrapper {
	background-color: gray;
	height: 100%;
	width: 100%;
	opacity: .8;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

.description__paragraph {
	font-family: 'Bebas Neue', cursive;
	font-size: 50px;
	color: lightskyblue;
	z-index: 2;
	transition: 0.8s;
	transform: translate(0, 100px);
	opacity: 0;
	animation: GoUp 1.5s forwards;
}

.description__btn {
	opacity: 0;
	z-index: 5;
	width: 30%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .8s ease 0s;
	border-radius: 10px;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	animation: GoUp 1.5s forwards;
	cursor: pointer;
}

.description__btn:hover .description__waves {
	top: -50px;
}

.description__button-text {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-family: Source Sans Pro;
	position: relative;
	z-index: 5;
}

.description__waves {
	position: absolute;
	width: 100%;
	height: 280px;
	top: 0;
	left: 0;
	background-color: rgba(37, 177, 242);
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	transition: 1.4s ease 0.1s;
}

.description__waves:after,
.description__waves:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;

	transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.description__waves:before {
	background-color: lightsteelblue;
	opacity: .6;
	border-radius: 48%;

	animation: waves 5s infinite linear;
}

.description__waves:after {
	background-color: rgb(70, 221, 219);
	opacity: .5;
	border-radius: 44%;

	animation: waves 10s infinite linear;
}

.description__profile {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	width: 100%;
	max-height: 10%;
	background-color: rgba(173, 216, 230, 0.3);
	border-bottom: 2px solid lightblue;
	opacity: .7;
	padding-left: 40px;
	padding-right: 40px;
	min-height: 80px;
}

.description__profile:hover{
	/* Убирать затемнение при наведении на шапку */
	transition: .4s;
	background-color: rgba(173, 216, 230, 1);
}

.description__profile-information {
	display: flex;
	width: 50%;
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 80px;
	align-items: center;
}

.description__profile-icon {
	width: 10%;
	margin-right: 5px;
	max-height: 50px;
}

.description__profile-username {
	font-family: Arial;
	font-size: 25px;
	color: lightgoldenrodyellow;
}

.description__profile-settings {
	width: 60px;
	max-width: 30%;
	height: 60px;
	max-height: 70px;
	border-radius: 50%;
	background-image: url("../images/settings.svg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	transition: 0.5s;
	animation: rotation 4s infinite 1s;
}



.description__profile-settings:hover {
	opacity: .7;
	cursor: pointer;
	transition: .6;
}

.settings-visiable {
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	/* left: 0; */
	bottom: 0;
	/* right: 0; */
	background-color: #fff;
	transition: 2s;
	z-index: 10000;
	opacity: 1;
	border-radius: 20px;
	overflow-y: scroll;
}

.settings {
	display: none;
	opacity: .3;
}

.settings__wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
	/* justify-content: center; */
	position: relative;
	width: 100%;
	height: 100%;
	padding: 80px 40px;
}

.settings__username {
	border-right: none;
	border-top: none;
	border-left: none;
	z-index: 200;
	width: 80%;
	max-height: 100px;
	font-family: Arial;
	font-size: 35px;
	border-bottom: 4px solid lightskyblue;
	color: lightskyblue;
	margin: 0 auto 30px auto;
	display: block;
	padding-left: 20px;
	padding-bottom: 10px;
}


.settings__close {
	background-image: url("../images/close.svg");
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	right: 20px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	transition: 6s;
}

.settings__complete {
	padding: 20px;
	background: #ffd800;
	font-family: Arial;
	font-size: 24px;
	width: 100%;
	margin: 55px auto 0 auto;
	color: #fff;
	transition: 1.5s;
}

.settings__complete:hover {
	opacity: .7;
}

.settings__close:hover {
	transform: rotate(360deg);
}

.settings__warning {
	color: darkred;
	font-family: Arial;
	font-size: 20px;
	width: 80%;
	display: block;
	margin: 0 auto;
}

.icon-human {
	display: none;
	margin: 0 auto;
}

.icon-human:checked + .fake::before {
	opacity: 1;
	transition: 1s;
	transform: scale(10);
}

.settings__human {
	position: relative;
}

.fake {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	border: 2px solid lightskyblue;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
	cursor: pointer;

}

.fake::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background-color: lightskyblue;
	opacity: 0;
	transition: .3s;
	cursor: pointer;
}

.settings__personality {
	display: flex;
	width: 70%;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 90px;
}

.settings__personality-human-title {
	max-width: 100%;
	font-size: 35px;
	color: lightskyblue;
	font-family: Arial;
	text-align: center;
}

.settings__human {
	max-width: 183.08px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.settings__personality-icon {
	width: 183.08px;
	height: 183.08px;
}

.information {
	width: 100vw;
	background-color: rgb(123, 162, 205);
}

.information__text {
	margin: 0 auto;
	max-width: 100%;
	padding: 30px;
	color: #fff;
	font-size: 25px;
	font-family: Arial;
}


.information__text:hover {
	cursor: default;
}

.trust {
	width: 80%;
	margin: 30px auto 0 auto;

}

.trust__title {
	width: 100%;
	text-align: center;
	font-size: 40px;
	padding: 0;
	margin: 0 0 20px 0;
	color: lightblue;
}

.trust__description {
	font-size: 29px;
	color: rgb(104, 169, 191);
}

.peace {
	width: 100%;
	margin: 0 auto;
	background-color: rgb(50, 126, 177);
	padding: 30px 0 30px 0;

}

.peace__title {
	color: #fff;
	font-size: 30px;
	width: 100%;
	text-align: center;
}

.peace__description {
	color: #fff;
	width: 80%;
	font-size: 20px;
	margin: 0 auto;
}

.peace-important {
    width: 100%;
    padding-top: 40px;
    position: relative;
    background-color: rgb(243, 250, 252); 
}

.peace-important__title {
	width: 100%;
    text-align: center;
    margin: 40px 0 10px 0;
}

.peace-important__block {
	max-width: 80%;
	margin: 20px auto 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.peace-important__image {
	width: 40%;
}

.peace-important__list {
	width: 60%;
	-ms-align-items: center;
	align-items: center;
}

.peace-important__item {
	min-width: 80%;
	margin: 0 auto 20px auto;
	list-style: none;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	min-height: 64px;
	min-width: 50%;
	-ms-align-items: center;
	align-items: center;
}

.peace-important__img {
	width: 30px;
	height: 30px;
    margin-right: 20px;
    animation: puls 2.5s .2s infinite linear;
}

.peace-important__title {
    font-size: 30px;
    color: rgb(21, 115, 170);
    z-index: 2;
    display: block;
}

.peace-important__paragraph {
	font-size: 23px;
    color: rgb(21, 115, 170);
    z-index: 5748759475458;
}

.peace-important__circle{
    display: block;
    width: 300px;
    height: 300px;   
    background-color: lightblue;
    position: absolute;
    right: 80px;
    top: 120px;
    z-index: 0;
    border-radius: 50%;
}

.information-item:hover .information-item__wrapper{
	opacity: .7;
}


.information-item:hover .information-item__wrapper{
    transition: 1.5s;
    opacity: .7;
}

.information-item:hover .more__size{
    display: block;
}

.more__size{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000000000;
}

.information-item-biggest {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-height: 100%;
    position: fixed;
    z-index: 200000;
    display: none;
}
.information-item__image {
    width: 100%;
    height: 90%;
    object-fit: center;
    object-position: center;
    opacity: .9.5;
}
.information-item__image-close {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 7777777777777777777;
    width: 10%;
    height: 10%;
    cursor: pointer;
}

.information-item__image-close:hover{
    transform: rotate(360deg);
    transition: 6s;
}

.information-item-biggest__wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#darkness{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: gray;
    opacity: .5;
}













@media screen and (max-width: 1188px){
    .description__paragraph{
        font-size: 45px;
    }

    
}

@media screen and (max-width: 1080px){
    .description__paragraph{
        font-size: 40px;
    }

}

@media screen and (max-width: 894px){
    .settings__personality{
        flex-direction: column;
    }

    .settings__human{
        margin: 0 auto 20px auto;
    }
}

@media screen and (max-width: 876px){
    .peace-important__circle{
        display: none;
    }
}


@media screen and (max-width: 972px){
    .description__paragraph{
        font-size: 35px;
    }

    .description__btn{
        width: 28%;
        height: 80px;
    }

    .description{
        max-height: 50vh;
    }
    
}

@media screen and (max-width: 844px){
    .description__paragraph{
        font-size: 30px;
    }

    .description__btn{
        width: 30%;
        height: 60px;
    }

    .description{
        max-height: 70vh;
    }
}

@media screen and (max-width: 740px){

	.information__text{
		font-size: 13px;
	}

    .description__paragraph{
        font-size: 25px;
    }

    .description__btn{
        width: 30%;
        height: 60px;
    }

    .description{
        max-height: 70vh;
    }
}

@media screen and (max-width: 648px){
    .description__paragraph{
        font-size: 25px;
    }

    .description__btn{
        width: 30%;
        height: 60px;
    }

    .description{
        max-height: 70vh;
    }

    .peace-important{
        flex-direction: column;
    }

    .peace-important__block{
        flex-direction: column;
    }

    .peace-important__image {
        width: 100%;
    }

    .peace-important__list{
        width: 100%;
    }

    .description__profile-icon{
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 653px){
    .description__paragraph{
        text-align: center;
        padding: 20px;
        font-size: 25px;
	}
	
	.description__profile{
		position: absolute;

	}

    .description__btn{
        width: 40%;
        height: 50px;
    }

    .description{
        max-height: 100vh;
    }
    .peace-important{
        flex-direction: column;
    }

    .peace-important__block{
        flex-direction: column;
    }

    .peace-important__image {
        width: 100%;
    }

    .peace-important__list{
        width: 100%;
    }

    .description__profile-settings {
        width: 60px;
        height: 60px;
    }

    .description__profile-icon{
        width: 50px;
        height: 50px;
    }
    
}

@media screen and (max-width: 320px){
    .description__paragraph{
        font-size: 20px;
    }
    
    .description__profile-icon{
        width: 50px;
        height: 50px;
    }

    .description__btn{
        width: 30%;
        height: 50px;
    }

    .description{
        max-height: 100vh;
    }
    .peace-important{
        flex-direction: column;
    }

    .peace-important__block{
        flex-direction: column;
    }

    .peace-important__image {
        width: 100%;
    }

    .peace-important__list{
        width: 100%;
    }
    
    .peace-important__item{
        margin: 0 auto;
        max-width: 80%;
    }
}
















































@keyframes puls{
    0%{
        transform: scale(1);
    }
    50%{    
        transform: scale(1.3);
    }

    100%{
        transform: scale(1);
    }
}


@keyframes GoUp {
	from {
		transform: translate(0, 100px);
	}

	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes waves {
	0% {
		transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
	}

	100% {
		transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
